.weatherContainer {
  background-color: #f4f4f4;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.weatherContainer .cityName {
  display: none;
}

.WeatherBody {
  margin: 0 1em;
  transition: 0.25s all ease;
  padding: 0.6em 3em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.WeatherBody:hover {
  cursor: pointer;
}

@media (min-width: 1399px) {
  .weatherContainer {
    display: flex;
    height: 100vh;
    width: 70%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .weatherContainer .cityName {
    position: absolute;
    font-size: 2em;
    display: block;
    color: #333;
    top: 100px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
}
@media (max-width: 894px) {
  .WeatherBody {
    margin: 0;
  }
}

@media (max-width: 750px) {
  .weatherContainer {
    display: inline-block;
    width: 60%;
    background-color: #fff;
  }
}
