.App {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a:hover {
  text-decoration: none;
}

@media (min-width: 1399px) {
  .App {
    display: flex;
  }
}
